<nav class="navbar navbar-expand-md navbar-light navigation">
        <a class="navbar-brand fititle" href="/" style="color:grey;">WEPLAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown" class="alligner">
            <ul class="navbar-nav ml-auto">

                {# + once user login #}
                
                {# + at the index page or others --- user is not login #}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Support
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">
                            FAQ's
                        </a>
                        <a class="dropdown-item" href="">
                            Privacy Policy
                        </a>
                    </div>
                </li>
                <li class="nav-item login">
                    <a href="">
                        <button type="button" class="btn btn-outline-primary">Login</button>
                    </a>
                </li>

                {# + at the login page --- user is not login#}
                
            </ul>
        </div>
    </nav>